body{
    margin: 0;
	padding: 0;
	margin-top: -20px;
	position: absolute;

}
/* FUENTES */
@font-face{
    font-family:'aldo';
    src: url(fonts/AldotheApache.ttf) format('truetype');
}
@font-face{
    font-family:'regular';
    src: url(fonts/typewcond_R.ttf) format('truetype');
}
@font-face{
    font-family:'bold';
    src: url(fonts/typewcond_B.ttf) format('truetype');
}
a{
    text-decoration: none;
}
/*----------------------------------------------------------------------------------*/
/* BARRA */
/* --------------------------- */
#nav{
    height: 40px;
    width: 100%;
}
.navbar-nav{
    margin-left: 65%;
}
/*----------------------------------------------------------------------------------*/
/* --------------------------- */
/* BLOQUE 1 */
/* PRESENTACION */
#inicio{
    padding: 0;
    margin-top: 60px;
    background-color: black;
    position: relative;
}
/* Imagen de fondo */
#bg-img{
    width: 100%;
    height: auto;  
    -webkit-filter: blur(2px);
    filter: blur(3px);
    border-style: none;
}
/* MI NOMBRE */
/* PRESENTACION */
#nombre{
    text-align: center;
    background-color: transparent;
    width: 100% ;
    height: auto;
    position: absolute;
    font-family: 'bold';
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    margin-top: 15%;
}
#btn-mas{
    padding: 0;
    margin: 0;
    width: 150px;
    height: 40px;
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    transition: 0.5s;
    background-color: #1F487E;
    border-style: solid;
    border-width: 1px;
    border-color: #1F487E;
}
#btn-mas:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
#btn-mas a{
    color: black;
    transition: 0.5s;
}
/* SECCION QUIEN SOY? */
/* ------------------------- */
#info{
    width: auto;
    height: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #1F487E; 
    text-align: center;
}
#text1{
    margin-top: 12%;
    font-family: 'arial';
    font-weight: bold;
    font-size: 32px;
    color: white;
}
#diamante{
    width: 50px;
    height: auto;
}
#text2{
    font-family: 'arial';
    font-size: 25px;
    color: black;
}
#btn-vamos{
    padding: 0;
    margin: 0;
    width: 150px;
    height: 40px;
    margin-top: 40px;
    font-family: 'bold';
    font-size: 25px;
    text-align: center;
    transition: 0.5s;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: black;
}
#btn-vamos:hover{
    background-color: #1F487E;
    color: white;
    transition: 0.5s;
}
#btn-vamos a{
    color: black;
    transition: 0.5s;
}

/* SECCION HABILIDADES/SKILLS */
/* ------------------------- */
#skills{
    height: 600px;
    background-color: white;
    overflow: hidden;
    text-align: center;
}
#servicio{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'arial';
    font-weight: bold;
    font-size: 35px;
    color: #1F487E;
}
/* caja de skills */
/* ITEM DE SKILLS */
#item-1{
    width: auto;
    height: 250px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}
/* Caja imagen */
#box-img{
    height: 150px;
    margin-top: 0;
    margin-bottom: 5px;   
}
/* imagen */
#img1{
    width: 120px;
    height: auto;
}
#box-text{
    margin-top: 5px;
    color: white;
    font-family: 'arial';
    font-size: 18px;
    color: black;
}
#titulo{
    font-family: 'bold';
    font-size: 25px;
    color: black;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* SECCION GIT */
/*----------------------------------------------------------------------------------*/
#git{
    height: 90px;
    background-color: grey;
    text-align: center;
    padding: 0;
    margin: 0;
}
#git p{
    margin-top: 15px;
    font-family: 'regular';
    font-size: 35px;
    color: white;
}
#git a{
    text-decoration: none;
    color: #1F487E;
}
#git a:hover{
    text-decoration: underline;
}
#git-img{
    width: 30px;
}
/*----------------------------------------------------------------------------------*/
/* SECCION CONTACTO */
/* CONTACTO */
/*----------------------------------------------------------------------------------*/
#contacto{
    height: 400px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'arial';
}
#contacto-info h2{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    color: #1F487E;
}
#contacto-info p{
    margin-top: 40px;
    font-size: 30px;
}
#red ul{
    list-style-type: none;
}
#red ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
}
#red ul li a{
    text-decoration: none;
}
#item-red{
    width: 400px;
    margin-left: 0px;
}

#item-red img{
    width: 80px;
    margin-top: 30px;
    margin-bottom: 0px;
}

#item-red p {
    margin-top: 0px;
    font-size: 20px;
}
/*----------------------------------------------------------------------------------*/
/* SECCION PIE */
/* FOOTER */
/*----------------------------------------------------------------------------------*/
#pie{
    background-color: #1F487E;
    text-align: center;
    font-family: 'arial';
    font-size: 15px;
}
#pie p{
    margin-top: 10px;
    color: white;
}
#contador{
    margin-top: 5px;
    font-family: 'arial';
    font-size: 15px;
    background-color: #1F487E;
    color: white;
}
#contador img{
    width: 100px;
    margin-top: -20px;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*INCIO RESPONSIVE*/
/*----------------------------------------------------------------------------------*/
/*Tablets o dispositivos medianos*/

@media all and (min-width: 600px) and (max-width: 1023px){
/*----------------------------------------------------------------------------------*/
/* BARRA */
/* --------------------------- */
#nav{
    height: 60px;
}
#nav a{
    outline: none;
}
.navbar-brand{
    margin-left: 10px;
}
.navbar-nav{
    margin-left: 30%;
}
.nav-item{
    background-color: black;
    text-align: center;
    border-bottom: solid;
    border-top: none;
    border-width: 0.1px;
    border-color:#1F487E ;
    border-radius: 2px;
}
.navbar-toggler{
    border-color: white;
    outline: none;
}
#navbar-toggler-icon{
    width: 100px;
    height: 10px;
}
/* --------------------------- */
#text1{
    font-size: 25px;
}
#text2{
    font-size: 20px;
}

/* SECCION HABILIDADES/SKILLS */
/* ------------------------- */
#skills{
    height: auto;
}
#servicio{
    margin-top: 60px;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* SECCION GIT */
/*----------------------------------------------------------------------------------*/
#git{
    height: 90px;
}
#git p{
    margin-top: 15px;
    font-size: 30px;
}
/*----------------------------------------------------------------------------------*/
/* SECCION CONTACTO */
/* CONTACTO */
/*----------------------------------------------------------------------------------*/
#contacto{
    height: auto;
    text-align: center;
}
#contacto-info h2{
    margin-top: 40px;
    font-size: 25px;
}
#contacto-info p{
    margin-top: 30px;
    font-size: 20px;
}
#red ul li{
    margin-left: -50px;
}
#item-red img{
    width: 70px;
}
/*----------------------------------------------------------------------------------*/
/* SECCION PIE */
/* FOOTER */
/*----------------------------------------------------------------------------------*/
#pie{
    height: auto;
    font-size: 10px;
}
#pie p{
    margin-top: 10px;
}
#contador{
    margin-top: 0px;
    font-size: 10px;
}
#contador img{
    width: 80px;
    margin-top: -20px;
}
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------------------*/
/*Inicio @Media PHONES*/
/*------------------------------------------------*/
@media all and (max-width: 599px){
/*----------------------------------------------------------------------------------*/
/* BARRA */
/* --------------------------- */
body{
    width: 100%; 
}
#nav{
    width: 100%;
    height: 60px;
}
#nav a{
    outline: none;
}
.navbar-brand{
    margin-left: 10px;
}
.navbar-nav{
    margin-left: 0%;
}
.nav-item{
    background-color: black;
    text-align: center;
    border-bottom: solid;
    border-top: none;
    border-width: 0.1px;
    border-color:#1F487E ;
    border-radius: 2px;
}
.navbar-toggler{
    border-color: white;
    outline: none;
}
#navbar-toggler-icon{
    width: 100px;
    height: 10px;
}
/*----------------------------------------------------------------------------------*/
/* --------------------------- */
/* BLOQUE 1 */
/* PRESENTACION */
#inicio{
    width: 100%;
    height: auto;
    margin-top: 20%;
    text-align: center;
}
/* Imagen de fondo */
#bg-img{
    width: 100%; 
}
/* MI NOMBRE */
/* PRESENTACION */
#nombre{
    text-align: center;
    width: 100% ;
    margin-top: 28%;
}
#nombre h1{
    font-size: 22px;
}
#nombre h2{
    font-size: 20px;
}
#btn-mas{
    width: 100px;
    height: 35px;
    margin-top: 8px;
    font-size: 20px;
    padding: -8px;
}

/* SECCION QUIEN SOY? */
/* ------------------------- */
#info{
    width: 100%;
    height: 600px;
}
#text1{
    margin-top: 25%;
    font-size: 23px;
}
#diamante{
    width: 30px;
}
#text2{
    margin-top: 30px;
    padding: 8px;
    font-size: 18px;
}
#btn-vamos{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
/* SECCION HABILIDADES/SKILLS */
/* ------------------------- */
#skills{
    width: 100%;
    height: auto;
}
#servicio{
    margin-top: 25%;
    font-size: 30px;
}
/* caja de skills */
/* ITEM DE SKILLS */
#item-1{
    width: auto;
    height: auto;
    margin: 0px;
    margin-top: 10px;
}
#titulo{
    font-size: 18px;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/* SECCION GIT */
/*----------------------------------------------------------------------------------*/
#git{
    width: 100%;
    height: auto;
}
#git p{
    margin-top: 15px;
    font-size: 23px;
}
/*----------------------------------------------------------------------------------*/
/* SECCION CONTACTO */
/* CONTACTO */
/*----------------------------------------------------------------------------------*/
#contacto{
    width: 100%;
    height: auto;
}
#contacto-info h2{
    margin-top: 15%;
    font-size: 25px;
}
#contacto-info p{
    margin-top: 20px;
    font-size: 18px;
}
#red ul li{
    width: 90%;
    margin-right: 10%;
}
#item-red{
    width: 100%;
}
#item-red img{
    width: 50px;
    margin-top: 20px;
}
/*----------------------------------------------------------------------------------*/
/* SECCION PIE */
/* FOOTER */
/*----------------------------------------------------------------------------------*/
#pie{
    height: 90px;
    font-size: 12px;
}
#pie p{
    margin-top: 2%;
}
#contador{
    margin-top: 0px;
    font-size: 12px;
}
#contador img{
    width: 70px;
    margin-top: -32px;
}

}


